<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAu72u9Rb4DYDzeXxMJrIIwycSxFrDphmE</string>
	<key>GCM_SENDER_ID</key>
	<string>545619705596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.jdgarita.frnk.demo</string>
	<key>PROJECT_ID</key>
	<string>frnk-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>frnk-demo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545619705596:ios:3a2d09475eb4a8dd31a179</string>
</dict>
</plist>